<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee" >
    <!-- this is configuration for tomcat to know where to find our servlets  -->
    <servlet>
        <servlet-name>ReimbursementServlet</servlet-name>
        <servlet-class>com.revature.servlet.ReimbursementServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ReimbursementServlet</servlet-name>
        <url-pattern>/reimbursements</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EmployeeServlet</servlet-name>
        <servlet-class>com.revature.servlet.EmployeeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EmployeeServlet</servlet-name>
        <url-pattern>/employees</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AuthServlet</servlet-name>
        <servlet-class>com.revature.servlet.AuthServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

</web-app>
